* {
	font-family: 'Raleway', sans-serif !important;
}

.grad30{
	background: linear-gradient( rgb(83,0,96) 35%, rgb(214,9,134));	
}

/* clases reutilizables */
.vh100 {
	height: 100vh;
}

.container-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

.container-flex{
	display: flex;
	justify-content: center;
}

.boton{
	background: linear-gradient( rgb(83,0,96) 35%, rgb(214,9,134));	
	color: rgb(255, 255, 255);
	font-weight: 500;
	padding: 0.4em 7em;
}

/* estilos register */
.background{
	background-image: url('../assets/images/taxi.jpg');
	background-size: cover;
	height: 100vh;
}

img[alt="logo-white"]{
	width: 13vh;
	margin: 0 9em;
}

img[alt="logo-pink"]{
	width: 40vh;
	height: 50vh;
}

.taxi a{
	position: relative;
	top: 10em;
	padding: 1em 2em;
	margin: 0.2em;
	background-color: rgba(50, 50, 54, 0.3);
	color: rgb(255, 255, 255);
}

/* estilos signup */

.signup a{
	border: 1px solid rgb(0, 0, 0);
	border-radius: 1em;
	font-size: 1.8em;
	color: rgb(0, 0, 0);
	padding: 0em 0.2em;
	position: relative;
	top: 0.8em;
}

.signup h4, .signup hr{
	text-align: center;
}

/* estilos verify */
.verify h4, .verify form{
	text-align: center;
}

/* estilos login */
.two-fields input {
	width:50% !important;
}

.login h4, .login form{
	text-align: center;
}