* {
	font-family: 'Raleway', sans-serif !important;
	color: #fff;
}

.grad30{
	background: linear-gradient( rgb(83,0,96) 35%, rgb(214,9,134));	
}

/* clases reutilizables */
.vh100 {
	height: 100vh;
}

.container-flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em;
}

.container-flex{
	display: flex;
	justify-content: center;
}

/* estilos register */
.background{
	background-image: url('../assets/images/taxi.jpg');
	background-size: cover;
	height: 100vh;
}

img[alt="logo-white"]{
	width: 13vh;
	margin: 0 9em;
}

img[alt="logo-pink"]{
	width: 40vh;
	height: 50vh;
}

.taxi a{
	position: relative;
	top: 10em;
	padding: 1em 2em;
	margin: 0.2em;
	background-color: rgba(50, 50, 54, 0.3);
	color: rgb(255, 255, 255);
}