<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>

<body>
	<section class="taxi">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 img-responsive background">
					<img src="../assets/images/logo-white.png" alt="logo-white">
					<figure class="container-flex-column">
						<img src="../assets/images/logo-pink.png" alt="logo-pink">
					</figure>
					<div class="container-flex">
						<a href="login.html" type="button" class="btn btn-default" id="signup">Login</a>
						<a href="signup.html" type="button" class="btn btn-default" id="login">Signup</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/register.js"></script>
</body>

</html>