<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/main.css">
	<title>Lyft</title>
</head>

<body>
	<section class="verify">
		<div class="container container-flex-column vh100">
			<div class="row">
				<a href="signup.html">
					< </a>
						<div class="col-xs-12">
							<h2>Verify phone number</h2>
							<h4>Join now for free ride credit</h4>
							<hr>
							<br>
							<form class="form-inline col-xs-12">
								<div class="form-group col-xs-2">
									<label for="exampleInputEmail1">LAB-</label>
								</div>
								<div class="form-group col-xs-10">
									<input type="number" class="form-control" id="" placeholder="nro">
								</div>
								<div class="form-group">
									<h5>Enter the code send to +nro</h5>
									<input class="btn btn-default" type="submit" value="Resend code">
								</div>
							</form>
							<button type="submit" class="btn btn-default boton btn-lg">Next</button>
						</div>
			</div>
		</div>
	</section>
</body>

</html>